<form (ngSubmit)="sell()" [formGroup]="inventoryForm">
	<h2>Sell</h2>
	<table>
		<thead>
			<tr>
				<td>Product</td>
				<td>Price per unit</td>
				<td>Available</td>
				<td>Count</td>
				<td>Total</td>
			</tr>
		</thead>
		<tbody>

			<tr *ngFor="let item of inventory; index as i">
				<td>{{item.good.name}}</td>
				<td>{{item.rate}}</td>
				<ng-container formArrayName="list">
					<td>
						<input type="number" step="1" min="0" max="item.count" [formControlName]="i">
						<button type="button"  (click)="sellAll(i)">Sell all</button>
					</td>
				</ng-container>
				
				<td>${{item.rate * listControl.value[i]}}</td>
			</tr>
			
		</tbody>
		<tfoot>
			<tr>
				<td colspan=4>

				</td>
				<td colspan=1>
					${{profit}}
				</td>
			</tr>
		</tfoot>
	</table>
	<button type="submit">Submit</button>
</form>
