<form (ngSubmit)="executeTransaction()" [formGroup]="inventoryForm">
	<h2>Buy</h2>
	<table>
		<thead>
			<tr>
				<td>Product</td>
				<td>Price per unit</td>
				<td>Available</td>
				<td>Count</td>
				<td>Fill up?</td>
				<td>Total</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Food</td>
				<td>{{foodRate}}</td>
				<td>Unlimited</td>
				<td><input type="number" step="1" min="0" formControlName="food"></td>
				<td><input type="checkbox"></td>
				<td>${{foodRate * foodControl.value}}</td>
			</tr>
			<tr>
				<td>Fuel</td>
				<td>{{fuelRate}}</td>
				<td>Unlimited</td>
				<td><input type="number" step="1" min="0" formControlName="fuel"></td>
				<td><input type="checkbox"></td>
				<td>${{fuelRate * fuelControl.value}}</td>
			</tr>

			<tr *ngFor="let item of inventory; index as i">
				<td>{{item.good.name}}</td>
				<td>{{item.rate}}</td>
				<td>{{item.count}}</td>
				<ng-container formArrayName="list">
					<td>
						<input type="number" step="1" min="0" max="item.count" [formControlName]="i">
					</td>
				</ng-container>
				<td><input type="checkbox"></td>
				<td>${{item.rate * listControl.value[i]}}</td>
			</tr>
			
		</tbody>
		<tfoot></tfoot>
	</table>
	<button type="submit">Submit</button>
</form>