<form (ngSubmit)="executeTransaction()" [formGroup]="inventoryForm">
	<h2>Buy</h2>
	<table>
		<thead>
			<tr>
				<td>Product</td>
				<td>Price per unit</td>
				<td>Available</td>
				<td>Count</td>
				<td>Total</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Food</td>
				<td>{{foodRate}}</td>
				<td>Unlimited</td>
				<td><input type="number" step="1" min="0" formControlName="food"><button type="button" (click)="fillUpFood()">Fill up</button></td>
				<td>${{foodRate * foodControl.value}}</td>
			</tr>
			<tr>
				<td>Fuel</td>
				<td>{{fuelRate}}</td>
				<td>Unlimited</td>
				<td><input type="number" step="1" min="0" formControlName="fuel">
					<button type="button" (click)="fillUpFuel()">Fill up</button></td>
				<td>${{fuelRate * fuelControl.value}}</td>
			</tr>

			<tr *ngFor="let item of inventory; index as i">
				<td>{{item.good.name}}</td>
				<td>{{item.rate}}</td>
				<td>{{item.count}}</td>
				<ng-container formArrayName="list">
					<td>
						<input type="number" step="1" min="0" max="item.count" [formControlName]="i">
						<button type="button"  (click)="fillUpGood(i)">Fill up</button>
					</td>
				</ng-container>
				
				<td>${{item.rate * listControl.value[i]}}</td>
			</tr>
			
		</tbody>
		<tfoot>
			<tr>
				<td colspan=4>
					Available funds: {{funds}}
				</td>
				<td colspan=1>
					${{cartTotal}}
				</td>
			</tr>
		</tfoot>
	</table>
	<button type="submit">Submit</button>
</form>