<form (ngSubmit)="executeTransaction()" [formGroup]="inventoryForm">
	<h2>Buy</h2>
	<table>
		<thead>
			<tr>
				<td>Product</td>
				<td>Price per unit</td>
				<td>Available</td>
				<td>Count</td>
				<td>Fill up?</td>
				<td>Total</td>
			</tr>
		</thead>
		<tbody>
			<ng-container formArrayName="list">
				<tr *ngFor="let _ of list.controls; index as i">
					<td>{{inventory[i].good.name}}</td>
					<td>{{inventory[i].rate}}</td>
					<td>{{inventory[i].count}}</td>
					<td><input type="number" step="1" min="0" max="inventory[i].count" [formControlName]="i"></td>
					<td><input type="checkbox"></td>
					<td>${{inventory[i].rate * list.value[i]}}</td>
				</tr>
			</ng-container>
		</tbody>
		<tfoot></tfoot>
	</table>
	<button type="submit">Submit</button>
</form>